<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring5.css}">
<script>
	function deleteBoard(n) {
		if (confirm('삭제하시겠습니까?')) {
			location.href = 'delete?num=' + n;
			//http://location:8888/spring5/board/delete?=num=1
		}
	}
	//리플 삭제
	function deleteReply(replynum, boardnum) {
		if (confirm('삭제하시겠습니까?')) {
			location.href = 'deleteReply?replynum=' + replynum + '&boardnum='
					+ boardnum;
		}
	}
</script>
</head>
<body>
	<header>
		<h1>[ 게시글 읽기 ]</h1>
	</header>
	<section>
		<table>
			<tr>
				<th style="width: 100px;">작성자</th>
				<td th:text="${board.memberid}" style="width: 600px;"></td>
			</tr>
			<tr>
				<th>작성일</th>
				<td th:text="${board.inputdate}"></td>
			</tr>
			<tr>
				<th>조회수</th>
				<td th:text="${board.hits}"></td>
			</tr>
			<tr>
				<th>제목</th>
				<td th:text="${board.title}"></td>
			</tr>
			<tr>
				<th>내용</th>
				<td><pre th:text="${board.contents}"></pre></td>
			</tr>
			<tr>
				<th>파일첨부</th>
				<td><a th:text="${board.originalfile}"
					th:href="@{/board/download(num=${board.boardnum})}"></a> <!-- <img th:src="@{/board/download(num=${board.boardnum})}"> -->
				</td>
			</tr>
		</table>
		<br>
		<div th:if="${#authentication.name} == ${board.memberid}">
			<a th:href="@{/board/update(boardnum = ${board.boardnum})}">수정</a> <a
				th:href="|javascript:deleteBoard(${board.boardnum})|">삭제</a>
		</div>
		<br>
		<!-- 로그인했을때 출력되는 댓글 작성폼 -->
		<div sec:authorize="isAuthenticated()">
			<form th:action="@{/board/writeReply}" method="post"
				onsubmit="return validation()">
				<input type="hidden" name="boardnum" th:value="${board.boardnum}">
				<input type="text" name="replytext" id="replytext"
					style="width: 500px;"> <input type="submit" value="확인">
			</form>
		</div>
		<!-- 현재 글의 댓글들 출력 -->
		<table class="reply">
			<tr th:each="reply : ${replylist}">
				<td class="replyid" th:text="${reply.memberid}"></td>
				<td class="replytext" th:text="${reply.replytext}"></td>
				<td class="replydate" th:text="${reply.inputdate}"></td>
				<td><span th:if="${#authentication.name} == ${reply.memberid}">
						<a
						th:href="|javascript:deleteReply(${reply.replynum}, ${reply.boardnum})|">
							<img th:src="@{/image/delete_x_icon.png}">
					</a>
				</span></td>
			</tr>
		</table>
	</section>
</body>
</html>